<mat-card class="Cabecera">
    <p><strong>Emisor</strong></p>
    <p><strong>Titulo</strong></p>
    <p><strong>Ver</strong></p>
    <p><strong>Responder</strong></p>
    <p class="Algo"></p>
</mat-card>
  <ng-container *ngFor="let correo of correos; index as i;">
    <mat-card>
      <p>{{correo.emisor}}</p>
      <p>{{correo.titulo}}</p>
      <button mat-raised-button color="primary" (click)="verDetalle(correo)">Ver</button>
      <button mat-raised-button color="primary" (click)="clickResponder(correo)">Responder</button>
      <div class="Responder" *ngIf="correo.responder">
      <app-ncorreo [correo]="correo" (accionRealizada)="accionRespuestaRapida(correo)"></app-ncorreo>
      </div>
  </mat-card>
  </ng-container>